<h1>phxtech.rocks</h1>

<h2>Join us on IRC</h2>

<p>We're in #phxtech on freenode</p>

<h2>Join us in Real Life</h2>

<div class="cal-widget">
  <a href="/calendar">Check out the event calendar</a>
</div>
