<h1>phxtech.rocks</h1>

<h2>join us on online</h2>

<ul>
  <li>in #phxtech on <a href="https://webchat.freenode.net/">freenode</a></li>
  <li>on the <a href="https://azwebdevs.org/">{az}webdevs</a> slack</li>
  </ul>

<h2>join us in real life</h2>

<div class="cal-widget">
  <a href="/calendar">check out the event calendar</a>
</div>

{{#if events}}
<h2>join us today</h2>

<div class="event-list">
  <ul>
    {{#each events}}
    <li>
      <div class="title"><a href="{{href}}">{{title}}</a></div>
      <div class="details">{{address}} at {{start_time}}</div>
    </li>
    {{/each}}
  </ul>
</div>
{{/if}}