<h1>phxtech.rocks</h1>

<h2>Join us on IRC</h2>

<p>We're in #phxtech on freenode</p>

<h2>Join us in Real Life</h2>

<p>Check out our <a href="/calendar" class="btn btn-primary" role="button">event calendar</a></p>
